# Firmware build artifacts
firmware/build/

# ModelSim simulation artifacts
sim/work/
transcript
sim/transcript
sim/vsim.wlf
sim/*.wlf
sim/modelsim.ini
sim/library.info
sim/axi_sys_tb.vcd

# OS files
.DS_Store
Thumbs.db
.tmp/
tmp/
firmware/yolo_conv1_320_data.h
firmware/yolo_layer320_data.h
.yolo_ddr

.desc_record
.desc_replay
